{% extends 'base.html' %}

{% block title %}
SGE - Produtos
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h3 class="display-6">Cadastrar Produto</h3>
    <div class="card">
        <div class="card-body">
            <form method="POST" action="" class="form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-end">
                    <button type="submit" class="btn btn-primary">Salvar Produto</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-end">
        <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e voltar para lista de Produtos</a>
    </div>

</div>

{% endblock %}